<section>
  <h1>Philippines Salary & Loan Calculators</h1>
  <p>Select a category to begin:</p>
  <ul>
    <li><a routerLink="/contributions">SSS, Pag-IBIG, PhilHealth, MPF contributions</a></li>
    <li><a routerLink="/net-pay">Salary net pay (tax, 13th month, overtime)</a></li>
    <li><a routerLink="/amortization">Loan amortization (housing, car, salary)</a></li>
    <li><a routerLink="/articles">Articles & guides</a></li>
    <li><a routerLink="/about">About this site</a></li>
  </ul>
</section>
